 .main{
  
}
.main-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.second-container {
    background: #06a9d6;
} 
.pagination {
    margin-left: 200px;
    margin-bottom: 50px;
}
.pagination button{
    margin-right: 10px;
}

.pagination .selected{
    background-color: goldenrod;
    border: gold;
    font-weight: bold;
    width: 40px;
    padding: 8px;
}


